.homepage-main-bio {
  padding: 40px 0;

}

.homepage-main-bio-social {
  padding: 40px 0 20px;
  ul {
    li {
      display: inline-block;
      padding: 0 10px;
      font-size: 36px;
      &:first-child {
        padding-left: 0;
      }
      a {
        color: #aaaaaa;
        &:hover {
          color: #666666;
        }
      }
    }
  }
}